{% extends "show/base.html.twig" %}

{% block header %}
<h1 class="my-4">My Shows list</h1>
{% endblock %}

{% block content %}
<!-- Blog Post -->

   {% if showOMDB is defined %}

    {% if showOMDB.Response == "True" %}
      <div class="card mb-4">

        <img class="card-img-top" src="{{ showOMDB.Poster }}" alt="Card image cap">

        <div class="card-body">
          <h2 class="card-title">{{ showOMDB.Title }} - {{ showOMDB.Genre }} ( {{ showOMDB.Country }} )</h2>

          <p class="card-text">{{showOMDB.Plot}} ...</p>
        </div>

        <div class="card-footer text-muted">
          <p style="display: inline;"">
            {% if showOMDB.Released != 'N/A' %}
              Posted on {{ showOMDB.Released|date('F d, Y') }} by <a href="#"> {{ showOMDB.Director }} </a> 
            {% else %}
              Posted on {{ showOMDB.Released }} by <a href="#"> {{ showOMDB.Director }} </a> 
            {% endif %}

          </p>
          <p style="float: right; margin: 0;">Article Powered By OMDBApi</p>
        </div>
      </div>
    {% endif %}
  {% endif %}

  {% for show in showLocal %}
  <div class="card mb-4">

    <img class="card-img-top" src="uploads/{{ show.mainPicture }}" alt="Card image cap">
   
    <div class="card-body">
      <h2 class="card-title">{{ show.name }} - {{ show.category.name }} ( {{ show.country }} )</h2>

      <p class="card-text">
        {{ show.abstract|length > 250 ? show.abstract|slice(0, 250) ~ '...' : show.abstract  }}
      </p>


      <a href="{{ path('show_show', {'id': show.id}) }}" class="btn btn-primary">Read More ...</a>
      
    </div>

    <div class="card-footer text-muted"> 
      Posted on {{ show.releaseDate|date('F d, Y') }} by <a href="#"> {{ show.author }} </a>
    </div>
  </div>
  {% endfor %}


  {% if showLocal|length < 1 and showOMDB.Response == "False" %}
  <p> No show found.</p>
  {% endif %}

  <!-- Pagination
  <ul class="pagination justify-content-center mb-4">
    <li class="page-item">
      <a class="page-link" href="#">&larr; Older</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="#">Newer &rarr;</a>
    </li>
  </ul>
      Pagination -->

{% endblock %}