{% extends "show/base.html.twig" %}

{% block header %}
<h1 class="my-4">My Shows list</h1>
{% endblock %}

{% block content %}

  <!-- Show Post -->
  {% for show in shows %}
    <div class="card mb-4">

    <!-- Set Image -->
    {% set img = '' %}
    {% if show.dataSource == constant('AppBundle\\Entity\\Show::DATA_SOURCE_DB') %}
      {% set img = asset(upload_folder ~'/'~ show.mainPicture) %}
    {% elseif show.dataSource == constant('AppBundle\\Entity\\Show::DATA_SOURCE_OMDB') %}
      {% set img = show.mainPicture %}
    {% endif %}

      <img class="card-img-top" src="{{ img }}" alt="{{ show.name}}">
     
      <div class="card-body">
        <h2 class="card-title">{{ show.name }} - {{ show.category.name }} ( {{ show.country }} )</h2>

        <p class="card-text">
          {{ show.abstract|length > 250 ? show.abstract|slice(0, 250) ~ '...' : show.abstract ~ '.'  }}
        </p>

        {% if show.dataSource == constant('AppBundle\\Entity\\Show::DATA_SOURCE_DB') %}
          <a href="{{ path('show_show', {'id': show.id}) }}" class="btn btn-primary">Read More ...</a>
        {% endif %}
        
      </div>

      <div class="card-footer text-muted"> 
        Posted on {{ show.releaseDate|date('F d, Y') }} by 

        {% if show.dataSource == constant('AppBundle\\Entity\\Show::DATA_SOURCE_DB') %}
          <a href="#"> {{ show.author }} </a>
        {% else %}
          <a href="#"> {{ show.realisator }} </a>
        {% endif %}
      </div>
    </div>
  {% else %}
    <p> No show are found, sorry.</p>
  {% endfor %}

  <!-- Pagination
  <ul class="pagination justify-content-center mb-4">
    <li class="page-item">
      <a class="page-link" href="#">&larr; Older</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="#">Newer &rarr;</a>
    </li>
  </ul>
      Pagination -->

{% endblock %}