{% extends "show/base.html.twig" %}

{% block header %}

<a href="{{ path('show_list') }}" class="btn btn-primary space-header"> &larr; Retour</a>


<h1 class="my-4"> {{ show.name }} - {{ show.category.name }} ( {{ show.country }} )</h1>
{% endblock %}

{% block content %}
<!-- Blog Post -->

  <div class="card mb-4">

    <img class="card-img-top" src="../uploads/{{ show.mainPicture }}" alt="Card image cap">
   
    <div class="card-body">

      <p class="card-text">
        {{ show.abstract  }}
      </p>
     
    </div>

    <div class="card-footer text-muted"> 
      Posted on {{ show.releaseDate|date('F d, Y') }} by <a href="#"> {{ show.author }} </a>
    </div>
  </div>

  <div class="space-footer ">
   <a href="{{ path('show_update', {'id': show.id}) }}" class="btn btn-warning">Update &rarr;</a>

    <form class="delete" action="{{ path('show_delete') }}" method="POST">
      <input type="hidden" name="show_id" value="{{ show.id }}" />
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete_show') }}" />
      <button type="submit" class="btn btn-danger">Delete X</a>
    </form>
  </div>

{% endblock %}