{% extends "show/base.html.twig" %}

{% block header %}
<h1 class="my-4">Create a new category</h1>
{% endblock %}

{% block content %}

 {# {{ form(showForm) }} #}

 {{ form_start(showForm, { "attr" : { "novalidate":"novalidate"}}) }}

 	{# {{ form_widget(showForm) }} #}

	{{ form_label(showForm.name) }}
	{{ form_widget(showForm.name) }}
	{{ form_errors(showForm.name) }}

 	{{ form_rest(showForm) }}

 	<input class="btn-primary btn space-footer" type="submit" value="Create Item"/>


 {{ form_end(showForm ) }}

{% endblock %}